*{
  box-sizing:border-box;
}
.wrapper{
display:grid;
}

/*.box:hover{
  height:175px;
  width:100vw;
  transition: .8s;
  transition-timing-function:ease-in;
}
*/
.blue{
  background-color:#0000ff;
}
.red{
  background-color: red;
}
.green{
  background-color: green;
}
.gold{
  background-color:gold;
}
